$header-height: 3rem;

$primary-color: #0268bb;

$text-color-1: #ffffff;

$fontf-1: 'IBM Plex Mono', monospace;

$neutral-5: #0F0F0F;
$neutral-4: #3F3F3F;
$neutral-3: #6F6F6F;
$neutral-2: #9F9F9F;
$neutral-1: #CFCFCF;

