* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 20px;
}

@import "elements/a";

@import "components/page-header";
@import "components/greeting";
