@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font-size: 20px;
  font-family: $font-1;
  color: $primary-color;
}

@import "elements/a";

@import "components/page-header";
@import "components/greeting";
