@import "../variables";

.container {
  padding: 2rem 0;
  width: 90%;
  margin: auto;
  &-heading {
    font: $font-3;
    font-size: 1.6rem;
  }
  &-text {
    padding: 2.5rem 0;
  }
  @media screen and (min-width: 768px) {
    padding: 2.5rem 0;
    width: 80%;
  }
  @media screen and (min-width: 1024px) {
    padding: 3.25rem 0;
  }
}
