<section id="about" class="container">
  <h2 class="container-heading" id="about-heading">About</h2>
  <p class="container-text" id="about-text">
    ...I'm seeking my first opportunity in the technology field, with skills in
    web development (HTML5, CSS3, SASS, JavaScript ES6+, TypeScript) and
    PostgreSQL database. Although lacking professional experience, I have
    acquired knowledge through personal projects. Stay updated and committed to
    best development practices, I prioritize clean and readable code. Determined
    to grow and contribute to collaborative teams, I am ready to tackle
    challenges and make a difference in the technology industry.
  </p>
  <%- include("./skills") %>
</section>
