<div class="container" id="greeting">
  <section id="greeting-section">
    <div id="greeting-section-text">
      <h1><span id="whoiam">I'm André Martins</span><i id="text-cursor" class="blinker-effect"></i></h1>
      <p>I'm a web developer and computing engineering student...</p>
    </div>
    <img src="../public/programmer.png" alt="Programmer figure" id="greeting-section-fig">
  </section>
</div>