<div class="container-fluid" id="greeting">
  <section id="greeting-content">
    <div id="greeting-content-text">
      <h1 id="greeting-content-text-heading">
        <span id="greeting-content-text-heading-whoiam">I'm André Martins</span
        ><i
          id="greeting-content-text-heading-text-cursor"
          class="blinker-effect"
        ></i>
      </h1>
      <p>I'm a web developer and computer engineering student...</p>
    </div>
    <img
      src="../public/programmer.png"
      alt="Programmer figure"
      id="greeting-content-fig"
    />
  </section>
</div>
