<header id="page-header">
  <div>
    <a href="/">
      <img id="page-logo" src="../assets/emblem-light.svg" />
    </a>
  </div>
  <nav id="navbar">
    <ul id="navbar-ul">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
