<header id="page-header">
  <div>
    <a href="#greeting">
      <img id="page-logo" src="../public/emblem-light.svg" />
    </a>
  </div>
  <nav id="navbar">
    <input type="checkbox" name="menu-toggle" id="menu-toggle">
    <label id="menu-container" for="menu-toggle">
      <div id="menu-icon"></div>
    </label>
    <ul id="navbar-ul">
      <li>
        <a href="#greeting">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
