<footer id="page-footer">
  <p id="page-footer-made-by">
    <a target="_blank" href="https://github.com/amartinsmg/amartinsmg.github.io"
      >Visit this project's repository</a
    >.
    <a target="_blank" href="https://github.com/amartinsmg"
      >Made by amartinsmg</a
    >.
  </p>
  <p>
    <small
      ><a
        target="_blank"
        href="https://www.pexels.com/pt-br/foto/milk-way-2706654/"
        >Galaxy picture by Nicole Avagliano on Pexels</a
      >.</small
    >
  </p>
  <p>
    <small>
      <a target="_blank" href="https://storyset.com/web"
        >Programmer illustration by Storyset</a
      >.</small
    >
  </p>
</footer>
