<footer id="page-footer">
  <div id="page-footer-text">
    <p id="page-footer-text-made-by">
      <a
        target="_blank"
        href="https://github.com/amartinsmg/amartinsmg.github.io"
        >Visit this project's repository</a
      >.
      <a target="_blank" href="https://github.com/amartinsmg"
        >Made by amartinsmg</a
      >.
    </p>
    <p>
      <small
        ><a
          target="_blank"
          href="https://www.pexels.com/pt-br/foto/milk-way-2706654/"
          >Galaxy picture by Nicole Avagliano on Pexels</a
        >.</small
      >
    </p>
    <p>
      <small>
        <a target="_blank" href="https://storyset.com/web"
          >Programmer illustration by Storyset</a
        >.</small
      >
    </p>
  </div>
  <div id="page-footer-bar"></div>
  <div id="page-footer-bottom">
    <div id="page-footer-bottom-emblem">
      <img src="../public/emblem-light.png" alt="Emblem" />
    </div>
    <div id="page-footer-bottom-phrase">
      <p id="page-footer-bottom-phrase-latin">Per aspera ad astra</p>
      <p id="page-footer-bottom-phrase-translation">
        &#8220;Through hardships to the stars&#8221;
      </p>
    </div>
  </div>
</footer>
