<header id="page-header">
  <div>
    <a href="#greeting">
      <img id="page-header-logo" src="../public/emblem-light.svg" />
    </a>
  </div>
  <nav id="page-header-navbar">
    <input id="page-header-navbar-toggle" type="checkbox" name="menu-toggle">
    <label id="page-header-navbar-menu" for="page-header-navbar-toggle">
      <div id="page-header-navbar-menu-icon"></div>
    </label>
    <ul id="page-header-navbar-ul">
      <li>
        <a href="#greeting">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
