<footer id="page-footer">
  <p>
    <small
      >Made by <a href="https://github.com/amartinsmg">amartinsmg</a></small
    >
    .
  </p>
  <p>
    <small
      ><a href="https://storyset.com/web"
        >Programmer illustration by Storyset</a
      ></small
    >
    .
  </p>
</footer>
