<section class="container" id="projects">
  <h2 class="container-heading" id="projects-heading">Projects</h2>
  <p class="container-text" id="projects-text">These are some of my personal projects: </p>
  <div id="projects-grid">
    <div class="projects-div" id="project-grid-1">
      <img class="projects-div-img" src="../public/qfcalculator.png" id="project-grid-1-img"
        alt="print screen of Qudratic Function Calculator">
      <div class="projects-div-inner">
        <h4 class="projects-div-inner-heading">Quadratic Function Calculator</h4>
        <p>It is a personal project that uses Embedded JavaScript (EJS), CSS, TypeScript, Babel, and Webpack.
        </p>
        <a class="btn projects-div-inner-btn" target="_blank" href="https://github.com/amartinsmg/QuadraticFCalculator"
          role="button"><i class="fab fa-github"></i> Complete project</a>
      </div>
    </div>
    <div class="projects-div" id="project-grid-2">
      <img class="projects-div-img" src="../public/centurycalculator.png" id="project-grid-2-img"
        alt="print screen of Qudratic Function Calculator">
      <div class="projects-div-inner">
        <h4 class="projects-div-inner-heading">Century Calculator</h4>
        <p>It is a personal project that uses Embedded JavaScript (EJS), CSS, Bootstrap 5, TypeScript,
          Babel, and Webpack.
        </p>
        <a class="btn projects-div-inner-btn" target="_blank" href="https://github.com/amartinsmg/CenturyCalculator"
          role="button"><i class="fab fa-github"></i> Complete project</a>
        </div>
      </div>
      <div class="projects-div" id="project-grid-3">
        <img class="projects-div-img" src="../public/cncalculator.png" id="project-grid-3-img"
        alt="print screen of Qudratic Function Calculator">
        <div class="projects-div-inner">
          <h4 class="projects-div-inner-heading">Complex Numbers Calculator</h4>
          <p>It is a personal project that uses HTML, CSS, Bootstrap 5, TypeScript, Web Assembly, Babel,
            and Webpack.
          </p>
          <a class="btn projects-div-inner-btn" target="_blank" href="https://github.com/amartinsmg/ComplexNumCalculator"
            role="button"><i class="fab fa-github"></i> Complete project</a>
      </div>
    </div>
</section>