<section class="container" id="projects">
  <h2 class="container-heading" id="projects-heading">Projects</h2>
  <p class="container-text" id="projects-text">These are some of my personal projects: </p>
  <div id="projects-grid">
    <div class="projects-div" id="project-grid-1">
      <img class="projects-div-img" src="../public/QFCalculator.jpg" id="project-grid-1-img"
        alt="print screen of Qudratic Function Calculator">
      <div class="projects-div-inner">
        <h4 class="projects-div-inner-heading">Quadratic Function Calculator</h4>
        <p>It is a personal project for a web quadratic function calculator. It uses Embedded JavaScript (EJS),
          CSS, TypeScript, Babel, and Webpack.
        </p>
        <button class="btn projects-div-inner-btn"><a
            href="https://amartinsmg.github.io/QuadraticFCalculator">Visit</a></button>
      </div>
    </div>
    <div class="projects-div" id="project-grid-2">
      <img class="projects-div-img" src="../public/CenturyCalculator.jpg" id="project-grid-2-img"
        alt="print screen of Qudratic Function Calculator">
      <div class="projects-div-inner">
        <h4 class="projects-div-inner-heading">Century Calculator</h4>
        <p>It is a personal project for a web century calculator. It uses Embedded JavaScript (EJS),
          CSS, Bootstrap 5, TypeScript, Babel, and Webpack.
        </p>
        <button class="btn projects-div-inner-btn"><a
            href="https://amartinsmg.github.io/CenturyCalculator">Visit</a></button>
      </div>
    </div>
    <div class="projects-div" id="project-grid-3">
      <img class="projects-div-img" src="../public/CNCalculator.jpg" id="project-grid-3-img"
        alt="print screen of Qudratic Function Calculator">
      <div class="projects-div-inner">
        <h4 class="projects-div-inner-heading">Complex Numbers Calculator</h4>
        <p>It is a personal project for a web complex numbers calculator. It uses HTML, CSS, Bootstrap,
          TypeScript, Web Assembly, Babel, and Webpack.
        </p>
        <button class="btn projects-div-inner-btn"><a
            href="https://amartinsmg.github.io/ComplexNumCalculator">Visit</a></button>
      </div>
    </div>
</section>