<section class="container" id="social">
  <h2 class="container-heading" id="social-heading">Social</h2>
  <p class="container-text" id="social-text">Connect with me:</p>
  <div id="social-div">
    <div class="social-div-inner">
      <a target="_blank" href="https://github.com/amartinsmg" title="Github"
        ><i class="fab fa-github"></i
      ></a>
    </div>
    <div class="social-div-inner">
      <a
        target="_blank"
        href="https://linkedin.com/in/amartinsmg"
        title="LikedIn"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
    <div class="social-div-inner">
      <a target="_blank" href="https://t.me/amartinsmg" title="Telegram"
        ><i class="fab fa-telegram"></i
      ></a>
    </div>
  </div>
</section>
