@import "../variables";

#page-footer {
  width: 90%;
  margin: 0 5%;
  text-align: center;
  &-text {
    font-size: 0.7rem;
    &-made-by {
      padding: 0 0 0.2rem;
    }
    a:hover {
      color: $neutral-color-2;
    }
    padding: 0 0 2rem;
  }
  &-bar {
    height: 1px;
    width: 60%;
    margin: 0 auto;
    background-color: $primary-color;
  }
  &-phrase {
    margin: 2rem 0 6rem;
    &-latin {
      font: $font-4;
      font-size: 1.7em;
      padding: 0 0 0.8rem;
    }
    &-translation {
      font-size: 0.9em;
    }
  }
}
