@import "../variables";

#page-footer {
  width: 90%;
  margin: 0 5%;
  text-align: center;
  &-text {
    font-size: 0.7rem;
    &-made-by {
      padding: 0 0 0.2rem;
    }
    a:hover {
      color: $neutral-color-2;
    }
    padding: 0 0 2rem;
  }
  &-bar {
    height: 1px;
    width: 60%;
    margin: 0 auto;
    background-color: $primary-color;
  }
  &-bottom {
    min-height: $greeting-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    &-emblem {
      img {
        margin: 0 auto;
        width: min(10rem, 100%);
      }
    }
    &-phrase {
      &-latin {
        font: $font-4;
        font-size: 1.7em;
        padding: 0 0 0.8rem;
      }
      &-translation {
        font-size: 0.9em;
      }
    }
  }
}
