@import "../mixins";
@import "../variables";

#projects {
  &-text {
    padding-bottom: 1.5rem;
  }
  &-grid {
    @include f-col;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .projects-div {
      width: 18rem;
      max-width: 100%;
      &-img {
        max-width: 100%;
      }
      &-inner {
        @include f-col;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.2rem 0;
        gap: 0.8rem;
        &-heading {
          color: $secondary-color;
        }
        &-btn {
          width: fit-content;
          background-color: $bg-color-2;
          color: $primary-color;
          &:hover {
            background-color: $bg-color-4;
          }
        }
      }
      @media screen and (pointer: fine) {
        position: relative;
        #project-grid-1-img {
          content: url("../../public/qfcalculator_square.png");
        }
        #project-grid-2-img {
          content: url("../../public/periodic_table_square.png");
        }
        #project-grid-3-img {
          content: url("../../public/descrip_statis_square.png");
        }
        &-img {
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
        &-inner {
          position: absolute;
          width: 86%;
          height: 86%;
          top: 7%;
          right: 7%;
          padding: 5%;
          gap: 1.3rem;
          background-color: #000000dd;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    &-grid {
      display: grid;
      gap: 1.5rem;
      grid-template: 1fr 1fr / 1fr 1fr;
    }
  }
  @media screen and (min-width: 1360px) {
    &-grid {
      grid-template: 1fr / 1fr 1fr 1fr;
    }
  }
}
