@import "../variables";
@import "../mixins";

.skills {
  @include f-col;
  justify-content: center;
  min-height: $greeting-height;
  padding: 5%;
  gap: 5vh;
  &-heading {
    color: $secondary-color;
    font: $font-3;
    font-size: 1.4rem;
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  &-content {
    &-radio {
      display: none;
    }
    &-labels {
      @include f-row;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;
      &-label {
        color: $neutral-color-2;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: $neutral-color-1;
        }
      }
    }
    &-text {
      &-box {
        height: 100%;
        padding: 2%;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
        &-heading {
          color: $secondary-color;
        }
        &-code {
          font: $font-2;
        }
      }
    }
  }
  @media screen and (min-width: 412px) {
    min-height: 30rem;
  }
  @media screen and (min-width: 576px) {
    min-height: 24rem;
    gap: 2rem;
  }
  @media screen and (min-width: 810px) {
    min-height: 0;
  }
}

@include showSkill("html");
@include showSkill("css");
@include showSkill("javascript");
@include showSkill("c");
@include showSkill("python");
@include showSkill("sqlite");
